* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
input {
  background-color: white;
}
select {
  background-color: white;
  color: black;
}

.checkboxWrapper {
  color: black;
}

.checkbox {
  background-color: white;
}

#root {
  width: 100%;
  /* padding: 20px; */
  /* height: 793px; */
  /* overflow: hidden; */
  background-color: white;
}
